@model InternetNetwork

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>InternetNetwork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName5)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
