@model InternetNetwork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InternetNetwork</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Code5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Code5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetworkName5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetworkName5)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
